<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>农产品列表</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="#"><img src="/static/admin/images/logo-sidebar.png" title="LightYear" alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active"><a href="#"><i class="mdi mdi-home"></i> 后台首页</a></li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-account"></i>用户管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/admin/user/list}">用户列表</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-carrot"></i>农产品管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/admin/produce/list}">农产品列表</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-clipboard-text"></i>订单管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/admin/order/list}">订单列表</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-history"></i>溯源信息管理</a>
                            <ul class="nav nav-subnav">
                                <li><a th:href="@{/admin/grow/list}">种植记录列表</a></li>
                                <li><a th:href="@{/admin/fertilize/list}">施肥记录列表</a></li>
                                <li><a th:href="@{/admin/process/list}">加工记录列表</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 后台首页 </span>
                    </div>
                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5" th:href="@{/admin/fertilize/insert}"><i
                                            class="mdi mdi-plus"></i> 新增</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>农产品名称</th>
                                            <th>肥料名称</th>
                                            <th>施肥总次数</th>
                                            <th>施肥时间间隔</th>
                                            <th>第一次施肥时间</th>
                                            <th>最后一次施肥时间</th>
                                            <th>创建日期</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="fertilize:${fertilizeList}">
                                            <td><span th:text="${fertilize.id}"/></td>
                                            <td><span th:text="${fertilize.produceName}"/></td>
                                            <td><span th:text="${fertilize.fertilizer}"/></td>
                                            <td><span th:text="${fertilize.total}"/></td>
                                            <td><span th:text="${fertilize.timeInterval}"/></td>
                                            <td><span th:text="${fertilize.firstTime}"/></td>
                                            <td><span th:text="${fertilize.lastTime}"/></td>
                                            <td><span th:text="${fertilize.createdAt}"/></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" th:href="@{/admin/fertilize/edit/}+${fertilize.produceName}" title="编辑" data-toggle="tooltip">
                                                        <i class="mdi mdi-account-edit"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-default" th:href="@{/admin/fertilize/delete/}+${fertilize.produceName}" title="删除" data-toggle="tooltip">
                                                        <i class="mdi mdi-window-close"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination">
                                    <li><a th:href="@{/admin/fertilize/page/}+${page.pageNum-1}">«</a></li>
                                    <li class="active">
                                        <a th:href="@{/admin/fertilize/page/}+${page.pageNum}">
                                            <span th:text="${page.pageNum}"/>
                                        </a>
                                    </li>
                                    <li><a th:href="@{/admin/fertilize/page/}+${page.pageNum+1}">»</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/admin/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/admin/js/main.min.js"></script>

<!--图表插件-->
<script type="text/javascript" src="/static/admin/js/Chart.js"></script>
</body>
</html>