<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkk.mapper.FertilizeRecordMapper">
    <resultMap id="BaseResultMap" type="com.wkk.pojo.DO.FertilizeRecordDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="produce_name" property="produceName" jdbcType="VARCHAR"/>
        <id column="fertilizer" property="fertilizer" jdbcType="VARCHAR"/>
        <id column="total" property="total" jdbcType="INTEGER"/>
        <id column="time_interval" property="timeInterval" jdbcType="INTEGER"/>
        <id column="first_time" property="firstTime" jdbcType="VARCHAR"/>
        <id column="last_time" property="lastTime" jdbcType="VARCHAR"/>
        <id column="created_at" property="createdAt" jdbcType="VARCHAR"/>
        <id column="updated_at" property="updatedAt" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tb">fertilize_record</sql>
    <sql id="Base_Column_List">
        id, produce_name, fertilizer, total, time_interval, first_time, last_time, created_at, updated_at
    </sql>

    <insert id="insert" parameterType="com.wkk.pojo.DO.FertilizeRecordDO" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tb"/>
        (produce_name, fertilizer, total, time_interval, first_time, last_time, created_at, updated_at)
        values (#{produceName}, #{fertilizer}, #{total}, #{timeInterval}, #{firstTime}, #{lastTime}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="com.wkk.pojo.DO.FertilizeRecordDO">
        update
        <include refid="tb"/>
        <set>
            produce_name = #{produceName},
            fertilizer = #{fertilizer},
            total = #{total},
            time_interval = #{timeInterval},
            first_time = #{firstTime},
            last_time = #{lastTime},
            updated_at = #{updatedAt}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from <include refid="tb"/>
        where id = #{id}
    </delete>

    <delete id="deleteByProduceName">
        delete from <include refid="tb"/>
        where produce_name = #{produceName}
    </delete>

    <delete id="deleteBatch" parameterType = "java.util.List">
        delete from <include refid="tb"/>
        where id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findByProduceName" resultType="com.wkk.pojo.DO.FertilizeRecordDO">
        select <include refid="Base_Column_List"/> from <include refid="tb"/> where produce_name = #{produceName}
    </select>

    <select id="list" resultType="com.wkk.pojo.DO.FertilizeRecordDO">
        select * from <include refid="tb"/>
    </select>

    <select id="findByParName" resultMap="BaseResultMap" parameterType="String">
        select <include refid="Base_Column_List"/> from <include refid="tb"/>
        where produce_name like CONCAT('%',#{parName},'%')
    </select>

</mapper>
